<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Naser Nikzad Online Resume</title>
<!--
Newline Template
https://templatemo.com/tm-503-newline
-->
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="css/fontAwesome.css">
        <link rel="stylesheet" href="css/templatemo-style.css">

        <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">

        <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>
    <body>

        <div class="overlay"></div>
        <section class="top-part">
          <video controls autoplay loop>
            <source src="videos/video.mp4" type="video/mp4">
            <source src="videos/video.ogg" type="video/ogg">
          Your browser does not support the video tag.
          </video>
        </section>
        
        <section class="cd-hero">

          <div class="cd-slider-nav">
            <nav>
              <span class="cd-marker item-1"></span>
              <ul>
                <li class="selected"><a href="#0"><div class="image-icon"><img src="img/home-icon.png"></div><h6>Welcome</h6></a></li>
                <li><a href="#0"><div class="image-icon"><img src="img/about-icon.png"></div><h6>Portfolios</h6></a></li>
                <li><a href="#0"><div class="image-icon"><img src="img/featured-icon.png"></div><h6>Contact Me</h6></a></li>
              </ul>
            </nav> 
          </div> <!-- .cd-slider-nav -->

          <ul class="cd-hero-slider">

            <li class="selected">
              <div class="heading">
                <h1>About Me</h1>
                <span>Nikzad's Online Resume</span>
              </div>
              <div class="cd-full-width first-slide">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="content first-content">
                        <h4>About My Life</h4>
                        <p>I live in Herat, Afghanistan. With a bachelor degree in Computer Science I have worked and gained experience in Web Development section, mostly focused 	on Back-end Development with PHP, it's frameworks and CMS's like WordPress and Drupal. Find more information about me on  <a href="https://github.com/nikzadGitHub" target="_blank">GitHub</a>. Also on social media you can get to me through <a href="https://www.linkedin.com/in/mohammad-naser-nikzad-19677bbb" target="_blank">LinkedIn</a> and <a href="https://www.facebook.com/mohammadnaser.nikzad.1" target="_blank">Facebook</a>. Thank you. If you have any question, feel free to contact me through <a href="mailto:n.nikzad@pomtech.com">n.nikzad@pomtech.com</a>.</p>                        <div class="primary-button">
                          <a href="#">Discover More</a>
                        </div>
                      </div>
                    </div>
                  </div>                  
                </div>
              </div>
            </li>

            <li>
              <div class="heading">
                <h1>Portfolios</h1>
                <span>Here you can check the projects I worked on.</span> 
              </div>
              <div class="cd-half-width fourth-slide">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="content fourth-content">
                        <div class="row">
                          <div class="col-md-3 project-item">
                            <a href="https://www.precisehearing.com/" data-lightbox="image-1"><img src="https://www.precisehearing.com/wp-content/uploads/2018/06/logo.png"></a>
                          </div>
                          <div class="col-md-3 project-item">
                            <a href="https://idealhearingaids.com/" data-lightbox="image-1"><img src="https://idealhearingaids.com/wp-content/uploads/2019/04/Ideal-Hearing-Aids-Logo-300-x-351Printable.png"></a>
                          </div>
                          <div class="col-md-3 project-item">
                            <a href="#" title="Private app" data-lightbox="image-1"><img src="https://techbullion.com/wp-content/uploads/2021/07/Payroll-Software.jpg"></a>
                          </div>
                          <div class="col-md-3 project-item">
                            <a href="#"  title="Private app" data-lightbox="image-1"><img src="https://cdn2.hubspot.net/hubfs/103224/how-to-use-online-booking-systems-to-grow-sales1200.png"></a>
                          </div>
                          <div class="col-md-3 project-item">
                            <a href="#" title="Private app" data-lightbox="image-1"><img src="https://blog.3dcart.com/hubfs/iStock-1029141490-1.jpg"></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>                  
                </div>
              </div>
            </li>

            <li>
              <div class="heading">
                <h1>Contact me</h1>
                <span>Please contact me if you need anything related</span> 
              </div>
              <div class="cd-half-width fivth-slide">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="content fivth-content">
                        <div class="row">
                          <div class="col-md-12">
                            <div class="left-info">    
                              <p>You can leave me a message through my email <a href="mailto:n.nikzad@pomtech.com">n.nikzad@pomtech.com</a> or pass me call with the following contacts.
                              <br><br>
                              <em>(+93) 789 357 846<br>(+93) 790 877 567</em>
                              </p>
                              <ul class="social-icons">
                                <i><a href="https://www.facebook.com/mohammadnaser.nikzad.1"><i class="fa fa-facebook"></i></a></i>
                                <i><a href="https://www.linkedin.com/in/mohammad-naser-nikzad-19677bbb/"><i class="fa fa-linkedin"></i></a></i>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>                  
                </div>
              </div>
            </li>
          </ul> <!-- .cd-hero-slider -->
        </section> <!-- .cd-hero -->


        <footer>
          <p>Copyright &copy; 2021 Naser Nikzad 
                                
        	| Credits of Design goes to <em>Template Mo</em></p>
        </footer>
    
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

        <script src="js/vendor/bootstrap.min.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>

    </body>
</html>